@import "../.meteor/local/bower/sass-mq/mq";
@import "bourbon/bourbon";
@import "bitters/base";
@import "neat/neat-helpers";
/* GRID GOES HER */

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1088);

// Toggle to false to hide grid.
$visual-grid: true;

// Define your breakpoints



@import "neat/neat";


/* VARIABLES */ 




