/*------------------------------------*\
    #styleguide
\*------------------------------------*/

@import "../../../stylesheets/init";

.code-example {
  display: block;
}

.editor { 
  position: relative;
  width: 100%;
  height: 100px;
  display: block;
}