/*------------------------------------*\
    #hero
\*------------------------------------*/

@import "../../../stylesheets/init";

.hero {
  text-align: center;
  margin: 40px 0;
  h1 {
    font-size: $base-font-size * 5;
  }
}
